{% extends  'base.html' %}

{% block body_block %}

    <div id="map"></div>
    <script>
    $(document).ready(function(){
      $('#js-farmacy').change(function(){
        initMap($(this).find('option:selected').data())
      })
    })
      function initMap(coordinatesDict) {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 47.596752, lng: 28.218033},
          zoom:6
        })
        var marker = new google.maps.Marker({
    map: map,
    position: coordinatesDict, 
     });
    }
    var mapDiv = document.getElementById('map');
    google.maps.event.addListenerOnce(mapDiv, 'idle', function(){
        initMap({lat:46.520097 , lng:29.667892 });
    });
    
    </script>
    <script src="https://maps.googleapis.com/maps/api/js"
        async defer></script>
        <center><h4> Găsește farmacii selectînd din listele de mai jos</h4>
        <div class="form-group">
          <select class="form-control btn-group" id='js-farmacy'>
            <option disabled selected value class="btn btn-default dropdown-toggle">Localitate</option>
            {% for localitate in localitati %}
              <option data-lat='{{localitate.latitude}}' data-lng='{{localitate.longitude}}'>{{ localitate.name }}</option>
            {% endfor %}
          </select>
        </div>


      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Farmacii <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Hipocrates</a></li>
            <li><a href="#">Continent</a></li>
            <li><a href="#">Optica</a></li>
            <li><a href="#">Farmacie 24/24</a></li>
        </ul>
      </div>
    </center>


{% endblock %}