<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>Farmacii</title>
</head>
<body>
<nav class="navbar navbar-inverse" >
<div class="container-fluid">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav" >
      <a href="index.html"><img src="http://3.bp.blogspot.com/-9cWGQfxXzJA/VhVB9HfD8AI/AAAAAAAACi0/0pGoT-jTmaQ/s1600/plantain.png" width="120" align="left"></a>
      <li><a href="med.html"><h3>Medicamente</h3></a></li>
      <li><a href="#"><h3>Boli</h3></a></li>
      <li><a href="#"><h3>Farmacii</h3></a></li>
      <li><a href="#"><h3>Blog</h3></a></li>
      <li><a href="#"><h3>Contacte</h3></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><h3>Sign Up</h3></a></li>
      <li><a href="#"><h3>Login</h3></a></li>
    </ul>
  </div>

</body>
</html>