{% extends 'base.html' %}

{% block body_block %}

<center><h1>Login</h1></center>
	<form action="account.html" method="post">
		<div class="form-row">
			<label for="email-input">Email:</label>
			<input type="text" name="email" id="email-input"></input>
		</div>
		<br/>
		<div class="form-row">
			<label for="password-input">Password:</label>
			<input type="password" name="password" id="password-input"/>
		</div>
		<button type="submit">Submit</button>
		<a href="register.html">SignUp</a>
	</form>


{% endblock %}