
{% extends 'base.html' %}

{% block body_block %}
	<div style="width: 600px; margin: 10px auto 0;">
	<center><h1>Inregistrare</h1>
    <br/>
	<form action="/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for={{form.username.id_for_label}} >Nume de utilizator:</label>
            {{ form.username }}
        </div>
		<div class="form-group">
			<label for={{form.email.id_for_label}} >Email:</label>
            {{ form.email }}
		</div>
        <div class="form-group">
            <label for={{form.first_name.id_for_label}} >Prenumele:</label>
            {{ form.first_name }}
        </div>
        <div class="form-group">
            <label for={{form.last_name.id_for_label}} >Numele:</label>
            {{ form.last_name }}
        </div>
		<div class="form-group">
			<label for={{form.password.id_for_label}}>Parolă:</label>
		  {{ form.password }}
		</div>
		<div class="form-group">
			<label for={{form.confirm_password.id_for_label}}>Confirmă Parola:</label>
		  {{ form.confirm_password}}
		</div>
	<form class="form-inline">
	<label for="country">Țară:</label>
		<div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Alege țara <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Republica Moldova</a></li>
            <li><a href="#">România</a></li>
            <li><a href="#">Ukraina</a></li>
            <li><a href="#">Cehia</a></li>
        </ul>
    </div>
	<label for="town">Localitate:</label>
		<div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Alege localitatea <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Stefan-Voda</a></li>
            <li><a href="#">Causeni</a></li>
            <li><a href="#">Anenii Noi</a></li>
            <li><a href="#">Chisinau</a></li>
        </ul>
    </div>

	</form>	
	<form class="form-inline">
	<label for="sex">Sex:</label>
		<div class="checkbox">
			<label><input type="radio" name="sex" value="F">F</label>
			<label><input type="radio" name="sex" value="M">M</label>
		</div>
	</form>
		<div class="checkbox">
			<label><input type="checkbox"/>Am citit și sunt de acord cu <a href="#">Condițiile de utilizare </a>  a web site-ului.</label>
		</div>
		<button type="submit" class="btn btn-primary">Trimite</button>
		<a href="#">Log in</a>
		</div>
		</center>


{% endblock %}